header {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: rgba(58, 243, 206, 0.19);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
}
